.content__project {
    &_info {
        padding-top: 200px;
        height: 356px;
        margin-bottom: 120px;
        background: url(img/project1.png), lightgray 50% / cover no-repeat;
    }
}

.project__btn {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

    &_el {
        width: 180px;
        height: 60px;
        background-color: #fff;
        border-radius: 10px;
        border: 1px solid #CDA274;
        font-size: 18px;
        font-weight: 400;

    }
}

.project__btn_el:hover {
    background-color: #CDA274;
}

.project__el {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 140px;
    gap: 26px;

    &_img {
        position: relative;

        &-div {
            display: flex;
        }

        &_star {
            width: 50px;
            position: absolute;
            transform: translateX(-50px);
        }
    }

    &_content {
        display: flex;
        justify-content: space-between;
        margin-top: 36px;

        &_title {
            font-size: 25px;
            font-weight: 400;
            color: #292f36;
            line-height: 125%;
            font-family: DM Serif Display;
        }

        &_text {
            font-size: 22px;
        }
    }
}